<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <title>Pass</title>
</head>
<body>

<div class="content">
  <h2 class="title">
    <span class="title-part line-1">Hey {{n}} !</span>
    <span class="title-part line-2">You are {{a}} years old.</span>
    <span class="title-part line-3">And</span>
    <span class="title-part line-4">today is your {{days}}th day of your life.</span>
    <span class="title-part line-5">hf!</span>
  </h1>
</div>

    <!--<h2 style="color: #676767;">Hey {{n}} !</h2>-->
    <!--<p style="text-align: center;font-size: 19px;">You are {{a}} years old.</p>-->
    <!--<p style="text-align: center;font-size: 19px;">And today is your {{days}}th day of your life.</p>-->

</body>
</html>